
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="container">

<header>
    <% include ./partials/nav %> 
</header>

<div class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-6">
           <% if(error) { %>
            <div style="color:red"> <%= error %></div>
           <% } %>
           <% if(success) { %>
            <div style="color:green"> <%= success %></div>
           <% } %>
                <div class="panel panel-default">
                    <div class="panel-heading">Add A New Member</div>
                    <div class="panel-body">
                            
                        <form action="/create" method="POST">
                
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" name="name" class="form-control" required>
                            </div>
                
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" name="email" class="form-control" required>
                            </div>
                
                            <div class="form-group">
                                <label>Gender</label>
                                <div class="radio">
                                    <label><input type="radio" name="gender" value="Male" required>Male</label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" name="gender" value="Female" required>Female</label>
                                </div>
                            </div>   
                            
                            <div class="form-group">
                                <label>Bio</label>
                                <textarea name="bio" rows="2" class="form-control"></textarea>
                            </div>
                            
                            <div class="form-group">
                                <button type="submit" class="btn btn-success btn-lg">Create</button>
                            </div>
                            
                        </form>
                    </div>
                </div>
        </div>
    </div>  

</div>


</body>
</html>